# lec 5

In [3]:
my_name = 'Caroline'

print(f"My name is {my_name}")

My name is Caroline

In [4]:
import boto3
from botocore.exceptions import ClientError
import json

def get_secret(secret_name):
    region_name = "us-east-1"

    # Create a Secrets Manager client
    session = boto3.session.Session()
    client = session.client(
        service_name='secretsmanager',
        region_name=region_name
    )

    try:
        get_secret_value_response = client.get_secret_value(
            SecretId=secret_name
        )
    except ClientError as e:
        raise e

    secret = get_secret_value_response['SecretString']
    
    return json.loads(secret)

In [5]:
import psycopg2

conn = psycopg2.connect(host=get_secret('postgresql')['host'],
                      user=get_secret('postgresql')['username'],
                      password = get_secret('postgresql')['password'],
                      dbname=get_secret('postgresql')['engine'])

cur = conn.cursor()

In [10]:
fips = "100"
name = "fake state"

sql_insert = f"""
            insert into name (fips,name)
            
            values( '{fips}' , '{name}')
            
        """
print (sql_insert)

            insert into name (fips,name)

            values( '100' , 'fake state')

In [12]:
cur.execute(sql_insert)

In [13]:
conn.commit()

In [16]:
sql_delete = f"""
         delete from name
        where fips = '{fips}'
            """
print(sql_delete)

         delete from name
        where fips = '100'

In [17]:
cur.execute(sql_delete)

In [18]:
conn.commit()

In [21]:
sql_query = "select * from name"

In [22]:
cur.execute(sql_query)

In [23]:
for record in cur.fetchall():
    print(record)

('01', 'Alabama')
('02', 'Alaska')
('04', 'Arizona')
('05', 'Arkansas')
('06', 'California')
('08', 'Colorado')
('09', 'Connecticut')
('10', 'Delaware')
('12', 'Florida')
('13', 'Georgia')
('15', 'Hawaii')
('16', 'Idaho')
('17', 'Illinois')
('18', 'Indiana')
('19', 'Iowa')
('20', 'Kansas')
('21', 'Kentucky')
('22', 'Louisiana')
('23', 'Maine')
('24', 'Maryland')
('25', 'Massachusetts')
('26', 'Michigan')
('27', 'Minnesota')
('28', 'Mississippi')
('29', 'Missouri')
('30', 'Montana')
('31', 'Nebraska')
('32', 'Nevada')
('33', 'New Hampshire')
('34', 'New Jersey')
('35', 'New Mexico')
('36', 'New York')
('37', 'North Carolina')
('38', 'North Dakota')
('39', 'Ohio')
('40', 'Oklahoma')
('41', 'Oregon')
('42', 'Pennsylvania')
('44', 'Rhode Island')
('45', 'South Carolina')
('46', 'South Dakota')
('47', 'Tennessee')
('48', 'Texas')
('49', 'Utah')
('50', 'Vermont')
('51', 'Virginia')
('53', 'Washington')
('54', 'West Virginia')
('55', 'Wisconsin')
('56', 'Wyoming')
('60', 'American Samoa')
('66', 'Guam')
('69', 'Northern Mariana Islands')
('72', 'Puerto Rico')
('78', 'Virgin Islands')
('11', 'District of Columbia')

In [25]:
sql = " select * from income where fips = '51' "

In [33]:
import pandas as pd

df = pd.read_sql(sql_query, conn)

df.head()

/tmp/ipykernel_12348/3873403749.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

  fips        name
0   01     Alabama
1   02      Alaska
2   04     Arizona
3   05    Arkansas
4   06  California

In [34]:
df.plot( x ='year',  y ='income' )

KeyError: 'year'

In [ ]:
cur.close()
conn.close()